
.full-width {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
  
}

.card {
  
  width: 100%;
  min-width: 150px;
  max-width: 500px;
  width: 100%; 
}

.centro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}

.botao {
 width: 100%;
  min-width: 150px;
  max-width: 500px;
 
}

.icone {
  margin-left: 45%;
}

.example-margin {
  margin-bottom: 5%;
}

.link {
  margin-left: 6%;
  text-decoration: none;
}

.link2 {
  text-decoration: none;;
}

.paragrafo {
  margin-top: 20px;
}

.mx-auto {
  width: 250px; 
  white-space: nowrap;
}


